  <div class="container">
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <h2>Contact with me!</h2>
        <br><br><br>
        <div class="col-xs-6">
 <p>
          <a href="www.pawel-szymaszek.com">
            <span class="bold">www.pawel-szymaszek.com</span>
            </a>
          </p>
          <p>
            <span class="bold">&#112;&#097;&#119;&#101;&#108;&#046;&#115;&#122;&#121;&#109;&#097;&#115;&#122;&#101;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</span>
          </p>
          <p>
            <span class="bold">+48 792 282 423</span>
          </p>
         
          <p>
            <a href="https://www.linkedin.com/in/pawe%C5%82-szymaszek-1aab87b0/">
              <img src="assets/Logo-2CRev-28px-R.png" style="max-height: 26px; margin: 6px">
            </a>
          </p>
          <p>
            <a href="https://github.com/tynorantoni">
              <img src="assets/GitHub_Logo_White.png" style="max-height: 32px">
            </a>
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>