<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="#" (click)="menuSelected('default')">Pawe³ Szymaszek</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon "></span>
    </button>
  </div>
  <div id="navbarSupportedContent " [ngClass]="{ 'collapse': collapsed, 'navbar-collapse': true} ">

    <ul class="navbar-nav float-right">

      <li class="nav-item active ">
        <a class="nav-link " href="# " (click)="menuSelected('default') ">Start
          <span class="sr-only ">(current)</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="/assets/PawelSzymaszekCV.pdf ">CV</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="# " (click)="menuSelected('contact') ">Kontakt</a>
      </li>

      <!--<li class="nav-item ">-->
      <!--<a class="nav-link " href="# " role="button ">Pl/EN<span class="caret "></span> </a>-->
      <!--<ul class="dropdown-menu ">-->
      <!--<li class="nav-item "><a class="nav-link " href="# ">Polski</a></li>-->
      <!--<li class="nav-item "><a class="nav-link " href="# ">English</a></li>-->
      <!--</ul>-->
      <!--</li>-->
    </ul>
  </div>

</nav>