<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="btn-group-vertical" role="group"
				aria-label="Basic example">
				<a href="#!" class="btn btn-light">Przerzutka przod</a> <a href="#!"
					class="btn btn-light">Przerzutka Ty³</a> <a href="#!"
					class="btn btn-light">Napêd</a> <a href="#!" class="btn btn-light">Ko³o
					przód</a> <a href="#!" class="btn btn-light">Ko³o Ty³</a> <a href="#!"
					class="btn btn-light">Amortyzator</a> <a href="#!"
					class="btn btn-light">Siode³ko</a> <a href="#!"
					class="btn btn-light">Kierownica</a> <a href="#!"
					class="btn btn-light">Peda³y</a> <a href="#!" class="btn btn-light">Hamulec
					Przód</a> <a href="#!" class="btn btn-light">Hamulec Ty³</a> <a
					href="#!" class="btn btn-light">Oœwietlenie</a>
			</div>
		</div>
	</div>
</div>

