<div class="container">
	<div class="row">
		<div class="col-md-4">

			<div class="card border-primary md-3 text-center">
				<div class="card-body">
					<blockquote class="card-blockquote">
						<p>Here you can request maintenance of your bike.</p>
						<p>If you've got problem with some element please click the
							button.</p>
						<p>Request will be automatically sent to your
							super-bike-mechanic</p>

					</blockquote>
				</div>
			</div>

<div class="card border-primary md-3 text-center">
				<div class="card-body">
					<blockquote class="card-blockquote">
						<p>Coming soon</p>
						

					</blockquote>
				</div>
			</div>

		</div>
		<div class="col-md-6">
			<a href="#!" class="btn btn-primary btn-lg">Front Derailleur</a> <a
				href="#!" class="btn btn-primary btn-lg">Rear Derailleur</a> <br>
			<br> <a href="#!" class="btn btn-primary btn-lg">Front Brake</a>
			<a href="#!" class="btn btn-primary btn-lg">Rear Brake</a> <br>
			<br> <a href="#!" class="btn btn-primary btn-lg">Drivetrain</a>
			<a href="#!" class="btn btn-primary btn-lg">Suspension</a> <br>
			<br> <a href="#!" class="btn btn-primary btn-lg">Front Wheel</a>
			<a href="#!" class="btn btn-primary btn-lg">Rear Wheel</a> <br>
			<br> <a href="#!" class="btn btn-primary btn-lg">Front Tire</a>
			<a href="#!" class="btn btn-primary btn-lg">Rear Tire</a> <br>
			<br> <a href="#!" class="btn btn-primary btn-lg">Saddle</a> <a
				href="#!" class="btn btn-primary btn-lg">Wheelbar</a> <br>
			<br> <a href="#!" class="btn btn-primary btn-lg">Pedals</a> <a
				href="#!" class="btn btn-primary btn-lg">Lights</a> <br>
			<br>

		</div>
		<div class="col-md-3"></div>
	</div>
</div>


