<!--  -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card-deck">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Total Distance</h4>
						<p class="card-text">Hi {{objUser.firstname}}! "
						<p class="card-text">Congrats! You have already traveled {{objBike.distance}} km since {{objUser.created_at|date}}</p>
						
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Saved Money</h4>
						<p class="card-text"><p>You have already saved xyz PLN!</p>
						<p>Your last ride saved you  zyx PLN</p>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Stats Of Your Last Ride</h4>
						<p class="card-text"><p>Distance {{objActivities.distance}} km</p>
						<p>Average speed {{objActivities.averageSpeed}} km/h</p>
						<p>You beat {{objActivities.personalRecords}} personal records</p>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
