<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="card-deck">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Przejechany dystans</h4>
						<p class="card-text">Gratulacje! przejecha³eœ ju¿ XYZ km</p>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Zaoszczêdzony koszt</h4>
						<p class="card-text"><p>Dziêki temu zaoszczêdzi³eœ ju¿ xyz z³!</p>
						<p>Twoja ostatnia przeja¿d¿ka zaowocowa³a oszczêdnoci¹ zyx z³</p>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Dane ostatniej jazdy</h4>
						<p class="card-text"><p>Dystans xyz km</p>
						<p>Œrednia prêdkoœæ xyz km/h</p>
						<p>A pobi³eœ jakiœ rekord? XZY</p>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
